{% extends 'base.html' %}

{% block title %}Библиотека | Сите книги{% endblock %}
{% block extrahead %}
{% endblock %}

{% block heading %}{{ heading }}{% endblock %}

{% block content %}
<div class="main">
    <div class="link_bar">
        <h3>Филтри</h3>
        <form action="." method="post">{% csrf_token %}
            <span>ISBN</span>
            <input type="text" name="ISBN" />
        </form>
        {% if dates %}
        <h3>Архива по месеци</h3>
        {% for link in dates %}
        <a href="/{{ path }}/{{ link.year }}/{{ link.month }}/">{{ link|date:"N" }} {{ link.year }}</a>
        {% endfor %}
        {% endif %}
    </div>
    <div class="lista">
        <p class="info">Книгите напишани со <i>italic</i> се изнајмени и нема преостанати копии.</p>
        <table>
            <thead>
                <tr><th>Слика</th><th>Податоци</th><th>Резервирана</th><th>Откажи ја резервацијата</th><th>Изнајми</th></tr>
            </thead>
            <tbody>
                {% for res in reservations %}
                <tr {% ifequal res.book.in_stock 0 %}class="i"{% endifequal %}>
                    <td><img src="{% if res.book.image %}{{ res.book.image.url }}{% else %}{{ kniga.external_image_url }}{% endif %}" height="50" /></td>
                    <td class="title">
                        {{ res.book.ISBN }}
                        <a href="{{ res.book.get_absolute_url }}" title="детали за книгата" class="title">{{ res.book.title }}</a>
                        од
                        {% for author in res.book.authors.all %}
                        <a href="{% url hacklab.biblioteka.views.by_author author.id %}" title="класа">{{ author }}</a>
                        {% endfor %}
                        -
                        <a href="{% url hacklab.biblioteka.views.by_publisher res.book.publisher.id %}" title="година на издавање">{{ res.book.publisher }}</a>
                        ,
                        <a href="{% url hacklab.biblioteka.views.by_year res.book.release_year %}" title="година на издавање">{{ res.book.release_year }}</a>
                    </td>
                    <td class="ca">
                        од
                        <b>{{ res.reserved_by.get_full_name }}</b>
                        на
                        <b>{{ res.reserved_on|date:"d N Y" }}</b>
                        во
                        <b>{{ res.reserved_on|date:"H:m" }}h</b>
                    </td>
                    <td class="ca">
                        <form method="post" action="{% url 'biblioteka:index' %}reservations/remove/">{% csrf_token %}
                            <input type="hidden" name="reservation_id" id="reservation_id" value="{{ res.id }}" />
                            <input type="image" name="reservation" id="reservation" value="" src="{% static "img/delete.png" %} />
                        </form>
                    </td>

                    <td class="ca">
                        {% if perms.can_add_rental %}
                        {% ifequal res.book.in_stock 0 %}
                        <img src="{% static "img/nok.png" %} alt="Нема преостанати копии во библиотеката">
                        {% else %}
                        <form action="{% url hacklab.biblioteka.views.rent_book res.book.id %}" method="get">{% csrf_token %}
                            <input type="image" name="kniga" value="{{ res.id }}" src="{{ MEDIA_URL }}img/ok.png" />
                        </form>
                        {% endifequal %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
